*, *::before, *::after{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
}
body{
	font-family: 'Open Sans', sans-serif;
}
.container{
	width: 1140px;
	margin: 0 auto;
}
.nav{
	position: fixed;
	top: 0%;
	width: 100%;
	background-color: rgba(255,255,255,1);
	padding: 20px;
	box-shadow: 10px 0 10px rgba(0,0,0,0.5);
	z-index: 5
}
.nav > .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	/*margin-top: 30px;*/
}
.nav__list{
	display: flex;
}
.nav__link{
	padding: 20px;
	font-weight: 500;
	color: black
}
.tel{
	border: 1px solid #00BAFC;
	background-color: #00BAFC;
	padding: 10px 15px;
	color: white;
	border-radius: 5px;
}
.section{
	margin-top: 100px;
}
.section .container{
	display: flex;
	justify-content: space-between;
}
.section__content, .section__ifreme{
	width: 42%;
}
.section__title{
	width: 100%;
	font-size: 27px;
	margin: 30px 0 20px 0;
}
.ifr{
	width: 100%;
	border-radius: 10px;
}
.section__text{
	line-height: 1.8;
	margin-bottom: 35px;
}
.section__link{
	border: 1px solid #00BAFC;
	padding: 10px 15px;
	background-color: #00BAFC;
	color: white;
	border-radius: 5px;
}
.xizmatlar{
	margin-top: 200px;
}
.xizmatlar__title{
	font-size: 27px;
	text-align: center;
	margin-bottom: 20px;
}
.xizmatlar__text{
	width: 700px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 20px;
}
.xizmatlar__list{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.xizmatlar__item{
	width: 330px;
	height: 310px;
	/*border: 1px solid lightgreen;*/
	margin: 20px;
	transition: .3s;
	z-index: 3
}
.xizmatlar__item:hover{
	transform: scale(1.1);
	box-shadow: 0 0 10px 5px rgba(0,0,0,0.2);
	border-radius: 5px;
}
.xizmatlar__image{
	width: 80%;
	/*height: 150px;*/
	padding: 25px;
	margin-left: 30px;

}
.rasm{
	width: 70%;
	transform: translateX(25px);
}
.xt{
	text-align: center;
	margin-bottom: 20px;
}
.xtt{
	text-align: center;
}
.link{
	text-align: center;
	margin-top: 30px;
}
.xizmatlar__link{
	border: 1px solid #00BAFC;
	padding: 10px 15px;
	background-color: #00BAFC;
	color: white;
	border-radius: 5px;
}
.xizmatlar__l{
	color: #00BAFC;
	margin-left: 10px;
	text-decoration: underline;
}
.ishlaymiz{
	margin-top: 200px;

}
.ishlaymiz__content{
	text-align: center;
}
.ishlaymiz__content-subtext{
	width: 700px;
	margin: 20px auto;
}
.photo-content{
	display: flex;
	align-items: center;
	/*justify-content: space-between;*/
	margin-top: 80px;
}
.ishlaymiz__image .ishlaymiz__text{
	width: 50%;
}
.ishlaymiz__text{
	margin-left: 150px;
}
.ishlaymiz__text-sub{
	width: 500px;
	line-height: 1.5;
}
.right{
	flex-direction: row-reverse;
}
.ttt{
	margin-right: 150px;
}
.talabalar{
	text-align: center;
	margin: 50px;
}
.a{
	border: 1px solid #00BAFC;
	padding: 10px 15px;
	background-color: #00BAFC;
	color: white;
	border-radius: 5px;
	margin-top: 50px;
	/*text-align: center;*/
}
.buyritma{
	width: 100%;
	background-color: #00BAFC;
	height: 600px;
}
.buyritma .container{
	padding: 50px;
	text-align: center;
	transform: translateY(35px);
}
.buyritma__title{
	color: white;
}
.buyritma__text{
	width: 700px;
	margin: 20px auto;
	color: white;
}
.buyritma__form{
	width: 300px;
	height: 280px;
	background-color: white;
	border-radius: 5px;
	margin: 0 auto;
	transform: translateY(20px);
}
.buyritma-label{
}
::placeholder{
	transform: translateX(-23px);
	color: black;
	font-weight: 500;
	font-size: 17px;
}
.input{
	transform: translateY(20px) translateX(25px);
	display: block;
	border: none;
	outline: none;
	background-color: rgba(0,0,0,0.1);
	padding: 10px 40px;
	border-radius: 5px;
}
.in2{
	margin-top: 20px;
}
.dur{
	background-color: rgba(0,0,0,0.1);
	border-radius: 5px;
	margin-top: 40px;
	font-size: 17px;
	border: none;
	outline: none;
	width: 83%;
	padding: 10px 15px;
}
.button{
	margin-top: 20px;
	padding: 10px;
	font-size: 17px;
	width: 65%;
	border-radius: 5px;
	background-color: #00BAFC;
	color: white;
	font-weight: 700;
	border: none;
}
.last .container{
	display: flex;
}
.last{
	width: 100%;
	height: 400px;
	background-color: #191919;
}
.copyright{
	margin-top: 75px;
	width: 30%;
	color: white;
}
.sayt{
	margin-top: 70px;
	width: 30%;
	color: white;
	transform: translateX(50px);
}
.internet{
	margin-top: 70px;
	width: 30%;
	color: white;
}
.last__text{
	width: 300px;
	line-height: 1.8;
}
.last__title{
	font-size: 20px;
	margin-bottom: 20px;
}
.sayt-title{
	font-size: 20px;
	margin-bottom: 20px;
}
.sayt-text{
	margin-bottom: 10px;
}
.internet-list{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.internet-item-link{
	color: white;
	padding: 10px 0;
}
.internet-title{
	font-size: 20px;
	margin-bottom: 20px;
}
.internet-image{
	transform: translateY(6px);
}

@media (max-width: 1200px){
	.container{
		max-width: 960px;
	}
}
@media (max-width: 1000px){
	.container{
		max-width: 720px;
	}
	.nav__list{
		display: none;
	}
	.section .container{
		display:flex;
		flex-direction: column;
		align-items: center;
	}
	.section__content{
		margin-bottom: 50px;
	}
	.photo-content{
		display: flex;
		flex-direction: column;

	}
	.ishlaymiz__content-subtext{
		width: 70%;
	}
	.right{
		display: flex;
		justify-content: center;
		width: 100%;
		margin: 50px auto;
	}
	.right .ishlaymiz__text-title{
		margin: 20px auto;
		text-align: center;
	}
	.right .ishlaymiz__text-sub{
		margin: 0 auto;
	}
	.togri .ishlaymiz__text-title{
		margin: 0 auto;
		margin-top: 20px;
	}
	.togri .ishlaymiz__text-sub{
		text-align: center;

	}
	.ishlaymiz__text-title{
		width: 80%;
		margin-top: 20px;
	}
	.ishlaymiz__text-sub{
		width: 70%;
		margin-top: 20px;
		text-align: center;
	}
	.buyritma__text{
		width: 80%;
		margin: 30px auto;
	}
	.last{
		height: 800px;
	}
	.last .container{
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100vh;
	}
}
@media (max-width: 760px){
	.container{
		max-width: 540px;
	}
	.nav__list{
		display: none;
	}
	.xizmatlar__text{
		width: 50%;
		text-align: center;
	}
	.link{
		display: flex;
		flex-direction: column;
	}
	.xizmatlar__link{
		width: 50%;
		margin-bottom: 20px;
		margin: 0 auto;
	}
	.xizmatlar__l{
		margin-top: 20px;
	}
	.section__link{
		width: 50%;
		margin: 0 auto;
	}
	.last .container{
		display: flex;
		flex-direction: column;
	}
}
@media (max-width: 600px){
	.container{
		max-width: 90%;
	}
	.nav__list{
		display: none;
	}
	.section__link{
		width: 50%;
		display: flex;
		flex-direction: column;
		margin: 0 auto;
	}
}